

.carousel-item {
  height: 500px;
  overflow: hidden;
}

.carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}



html, body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
    margin-top: auto;
}